  <nav id="nav">
    <section class="nav-links">
      <img src="./assets/newstlogo.svg" alt="sos logo">
      <a href="/">Home</a>
      <a href="/account/my-tickets">My Tickets</a>
      <a href="/replay-store">Replay Store</a>

      <input type="text" name="search" id="search" placeholder="Events, Artists, Dates">
      <img src="./assets/search.svg" alt="search" id='mag-glass'>
    </section>
    <section class="user-profile">
      <a href="/login">Login</a>
      <button onclick="document.location='/signup'">Sign Up</button>
    </section>
    <section class="m-menu">
      <div class="tl"></div>
      <div class="tr"></div>
      <div class="bl"></div>
      <div class="br"></div>
    </section>
    <section class="m-nav-links">
      <h1>Menu</h1>
      <div class="options">
        <a href="/" class="active"><img src="./assets/yellow-home.svg" alt="home"> Home</a>
        <a href="/account/my-tickets"><img src="./assets/ticket.svg" alt="ticket"> My Tickets</a>
        <a href="/replay-store"><img src="./assets/replay-store.svg" alt="replay store"> Replay Store</a>
        <a href="./profile/myProfile.html"><img src="./assets/user-circle.svg" alt="user"> My Profile</a>
      </div>

      <div class="login-signup">
        <a href="/login" class="login">Login</a>
        <a href="/signup" class="signup"><p>Sign Up</p> <img src="./assets/chevron-right.svg" alt="right chevron"></a>
      </div>

      <section class="nav-foot">
        <a href="./helpAndSupport.html">Help & Support</a>

      </section>
    </section>
  </nav>

  <div class="gradient"></div>
