<main class='ticket-main'>
  <section class="sub-nav">
    <a href="/account/my-tickets" class='active'>My Tickets</a>
    <a href="/account/past-shows">Past Shows</a>
    <a href="./myReplays.html">My Replays</a>
  </section>
  <div class="ticket-row dragscroll">
    <div class="t-card harry">
      <h3>Fine Line</h3>
      <h1>Harry Styles</h1>
      <p class="date">24 Oct 2020 Sat 9pm EDT</p>
      <section class="detail-row">
        <span class="title">Ticket Type:</span>
        <span class="value">VIP Stream</span>
      </section>
      <section class="detail-row">
        <span class="title">Price Paid:</span>
        <span class="value">$200.00</span>
      </section>
      <section class="detail-row time-row">
        <span class="title">Time Remaining:</span>
        <span class="value time">12d 16h 23m 47s</span>
      </section>
      <a href="#" class="lobby">Go to Lobby</a>
      <div class="cir1"></div>
      <div class="cir2"></div>
    </div>
    <div class="t-card harry">
      <h3>Fine Line</h3>
      <h1>Harry Styles</h1>
      <p class="date">24 Oct 2020 Sat 9pm EDT</p>
      <section class="detail-row">
        <span class="title">Ticket Type:</span>
        <span class="value">VIP Stream</span>
      </section>
      <section class="detail-row">
        <span class="title">Price Paid:</span>
        <span class="value">$200.00</span>
      </section>
      <section class="detail-row time-row">
        <span class="title">Time Remaining:</span>
        <span class="value time">- : - : -:</span>
      </section>
      <a href="/account/live-now" class="lobby live-now">Live Now</a>
      <div class="cir1"></div>
      <div class="cir2"></div>
    </div>
    <div class="t-card harry">
      <h3>Fine Line</h3>
      <h1>Harry Styles</h1>
      <p class="date">24 Oct 2020 Sat 9pm EDT</p>
      <section class="detail-row">
        <span class="title">Ticket Type:</span>
        <span class="value">VIP Stream</span>
      </section>
      <section class="detail-row">
        <span class="title">Price Paid:</span>
        <span class="value">$200.00</span>
      </section>
      <section class="detail-row time-row">
        <span class="title">Time Remaining:</span>
        <span class="value time">- : - : -:</span>
      </section>
      <a href="/account/live-now" class="lobby live-now">Live Now</a>
      <div class="cir1"></div>
      <div class="cir2"></div>
    </div>
    <div class="t-card harry">
      <h3>Fine Line</h3>
      <h1>Harry Styles</h1>
      <p class="date">24 Oct 2020 Sat 9pm EDT</p>
      <section class="detail-row">
        <span class="title">Ticket Type:</span>
        <span class="value">VIP Stream</span>
      </section>
      <section class="detail-row">
        <span class="title">Price Paid:</span>
        <span class="value">$200.00</span>
      </section>
      <section class="detail-row time-row">
        <span class="title">Time Remaining:</span>
        <span class="value time">- : - : -:</span>
      </section>
      <a href="/account/live-now" class="lobby live-now">Live Now</a>
      <div class="cir1"></div>
      <div class="cir2"></div>
    </div>
  </div>
  <h1 class="upcoming">Upcoming shows for you</h1>
  <div class="artist-row dragscroll">
    <div class="artist">
      <img src="../assets/harry-styles@2x.png" alt="selena gomez">
      <div class="artist-details">
        <h4>Fine Line</h4>
        <h2>Selena Gomez</h2>
        <p>14 Nov 2020 Sat 9pm EDT</p>
      </div>
      <div class="hover-cta">
        <a href="#" class="share">
          <img src="../assets/shareArrow.png" alt="share arrow"> Share
        </a>
        <a href="#" class="buy-ticket">
          <img src="../assets/black-ticket.svg" alt="ticket"> Get Tickets
        </a>
      </div>
    </div>
    <div class="artist">
      <img src="../assets/harry-styles@2x.png" alt="harry styles">
      <div class="artist-details">
        <h4>Fine Line</h4>
        <h2>Harry Styles</h2>
        <p>15 Dec 2020 Fri 9pm EDT</p>
      </div>
      <div class="hover-cta">
        <a href="#" class="share">
          <img src="../assets/shareArrow.png" alt="share arrow"> Share
        </a>
        <a href="#" class="buy-ticket">
          <img src="../assets/black-ticket.svg" alt="ticket"> Get Tickets
        </a>
      </div>
    </div>
    <div class="artist">
      <img src="../assets/harry-styles@2x.png" alt="bruno mars">
      <div class="artist-details">
        <h4>Fine Line</h4>
        <h2>Bruno Mars</h2>
        <p>19 Dec 2020 Sat 9pm EDT</p>
      </div>
      <div class="hover-cta">
        <a href="#" class="share">
          <img src="../assets/shareArrow.png" alt="share arrow"> Share
        </a>
        <a href="#" class="buy-ticket">
          <img src="../assets/black-ticket.svg" alt="ticket"> Get Tickets
        </a>
      </div>
    </div>
    <div class="artist">
      <img src="../assets/harry-styles@2x.png" alt="andrew reyal">
      <div class="artist-details">
        <h4>Fine Line</h4>
        <h2>Andrew Reyal</h2>
        <p>25 Dec 2020 Sat 9pm EDT</p>
      </div>
      <div class="hover-cta">
        <a href="#" class="share">
          <img src="../assets/shareArrow.png" alt="share arrow"> Share
        </a>
        <a href="#" class="buy-ticket">
          <img src="../assets/black-ticket.svg" alt="ticket"> Get Tickets
        </a>
      </div>
    </div>
    <div class="artist">
      <img src="../assets/harry-styles@2x.png" alt="megan">
      <div class="artist-details">
        <h4>Fine Line</h4>
        <h2>Megan</h2>
        <p>19 Jan 2020 Sat 9pm EDT</p>
      </div>
      <div class="hover-cta">
        <a href="#" class="share">
          <img src="../assets/shareArrow.png" alt="share arrow"> Share
        </a>
        <a href="#" class="buy-ticket">
          <img src="../assets/black-ticket.svg" alt="ticket"> Get Tickets
        </a>
      </div>
    </div>
    <div class="artist">
      <img src="../assets/harry-styles@2x.png" alt="armin van buuren">
      <div class="artist-details">
        <h4>Fine Line</h4>
        <h2>Armin Van Buuren</h2>
        <p>2 Feb 2020 Sat 9pm EDT</p>
      </div>
      <div class="hover-cta">
        <a href="#" class="share">
          <img src="../assets/shareArrow.png" alt="share arrow"> Share
        </a>
        <a href="#" class="buy-ticket">
          <img src="../assets/black-ticket.svg" alt="ticket"> Get Tickets
        </a>
      </div>
    </div>
  </div>
</main>
