<div class="swiper-container carousel">
  <swiper [config]="config" style="height: 400px; width: 400px;">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/assets/harry-styles@2x.png" alt="">
        <section class="details">
          <h3>Fine Line</h3>
          <h2>Harry Styles</h2>
          <p class="date">15 Dec 2020 9pm EDT</p>
        </section>
        <section class="hover-cta">
          <button class="share">
            <img src="/assets/share.svg" alt="share"> Share
          </button>
          <button class="ticket">
            <img src="/assets/black-ticket.svg" alt="ticket"> Get Ticket
          </button>
        </section>
      </div>
      <div class="swiper-slide">
        <img src="/assets/harry-styles@2x.png" alt="">
        <section class="details">
          <h3>Fine Line</h3>
          <h2>Harry Styles</h2>
          <p class="date">15 Dec 2020 9pm EDT</p>
        </section>
        <section class="hover-cta">
          <button class="share">
            <img src="/assets/share.svg" alt="share"> Share
          </button>
          <button class="ticket">
            <img src="/assets/black-ticket.svg" alt="ticket"> Get Ticket
          </button>
        </section>
      </div>
      <div class="swiper-slide">
        <img src="/assets/harry-styles@2x.png" alt="">
        <section class="details">
          <h3>Fine Line</h3>
          <h2>Harry Styles</h2>
          <p class="date">15 Dec 2020 9pm EDT</p>
        </section>
        <section class="hover-cta">
          <button class="share">
            <img src="/assets/share.svg" alt="share"> Share
          </button>
          <button class="ticket">
            <img src="/assets/black-ticket.svg" alt="ticket"> Get Ticket
          </button>
        </section>
      </div>
      <div class="swiper-slide">
        <img src="/assets/harry-styles@2x.png" alt="">
        <section class="details">
          <h3>Fine Line</h3>
          <h2>Harry Styles</h2>
          <p class="date">15 Dec 2020 9pm EDT</p>
        </section>
        <section class="hover-cta">
          <button class="share">
            <img src="/assets/share.svg" alt="share"> Share
          </button>
          <button class="ticket">
            <img src="/assets/black-ticket.svg" alt="ticket"> Get Ticket
          </button>
        </section>
      </div>
      <div class="swiper-slide">
        <img src="/assets/harry-styles@2x.png" alt="">
        <section class="details">
          <h3>Fine Line</h3>
          <h2>Harry Styles</h2>
          <p class="date">15 Dec 2020 9pm EDT</p>
        </section>
        <section class="hover-cta">
          <button class="share">
            <img src="/assets/share.svg" alt="share"> Share
          </button>
          <button class="ticket">
            <img src="/assets/black-ticket.svg" alt="ticket"> Get Ticket
          </button>
        </section>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
  </swiper>
</div>
