<footer>
    <img src="/assets/newstlogo.svg" alt="sos logo">
    <div class="foot-links">
      <a href="#">Privacy Policy</a>
      <a href="#">User Agreement</a>
      <a href="#">Terms & Conditions</a>
      <a href="#">FAQ</a>
    </div>
    <div class="foot-links foot-m">
      <section>
        <a href="#">FAQ</a>
        <a href="#">Privacy Policy</a>
      </section>
      <section>
        <a href="#">User Agreement</a>
        <a href="#">Terms & Conditions</a>
      </section>
    </div>
    <p>&copy; 2020 Studio On Sunset All Rights Reserved</p>
  </footer>
